html, body {
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  font-family: 'Lato', sans-serif;
  background-color: #1f1e1e;
  color: #c59d59;
}

body {
  margin: 0 0 20px;
}

h2 {
  font-size: 2.5em;
  font-weight: 600;
}

h1 {
  font-weight: 600;
  line-height: 1em;
  font-size: 3em;
  margin-bottom: 20px;
  margin-top: 20px;
  background: -webkit-linear-gradient(#eee, #c59d59);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

input {
  height: 2.3em;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 10px;
}

textarea {
  width: 100%;
  margin: 0 auto;
  /* margin-bottom: 10px; */
  margin-top: 10px;
}

.button {
  background: -webkit-linear-gradient(#eee, #c59d59);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  height: 2em;
  margin-right: 10px;
  border-radius: 5px;
  font-size: 1em;
}

.container {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.inline {
  display: inline;
}

fieldset .button {
  float: right;
  margin-right: 0;
  margin-left: 10px;
}

/* 
========================================
NAVIGATION
========================================
*/
.logo {
  font-size: 2em;
  font-weight: 600;
  height: 100%;
  width: 200px;
  display: inline;
}

.logo img {
  height: 100%;
}

.navbar {
  overflow: hidden;
  background-color: #1f1e1e;
  height: 41px;
  display: flex;
  width: 100%;
}

.header-left {
  margin-right: auto;
  
}

.dropdown{
  overflow: hidden;
  height: 41px;
}

.fa, .fas {
  color: #c59d59;
  font-size: 1.8em;
  vertical-align: middle;
  margin-left: 3px;
}

.dropdown, .dropbtn {
  border: none;
  display: inline-block;
}

.search {
  height: 100%;
}

.search input {
  height: 1.3em;
}

.dropbtn {
  background-color: #1f1e1e;
  float: right;
  height: 100%;
  width: 100%;
}

.dropbtn:hover {
  background-color: #7e7e7e;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1f1e1e;
  position: absolute;
  top: 41px;
  right: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  color: #c59d59;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #ddd;
}

.dropdown-content a:hover {
  background-color: #7e7e7e;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*
====================================
FOOTER
====================================
*/

footer {
  display: none;
  height: 20px;
}

footer .fa {
  font-size: 1em;
}


/* 
====================================
ABOUT
====================================
*/

.about img, .contact img, .location img {
  width: 100%;
}

.aboutText p, .contactForm, .editLocation, .location-content {
  letter-spacing: 1px;
  line-height: 1.5em;
  margin-top: 1.3em;
  margin-bottom: 10px;
  font-size: 1.2em;
}

#contactFormSubmit, .button {
  color: #1f1e1e;
  background-color: #c59d59;
  width: 90px;
  font-size: 1em;
  border: 1px solid whitesmoke;
}


/* 
====================================================
GOOGLE MAPS
======================================================= 
*/
/* always set map height explicitly, you also need to set the 
height of the parent container explicitly otherwise the size of 
the map will be set to 0 */
#map {
  height: calc(100vh - 61px);
}

.map-container {
  height: 90%;
}

.infoWindow {
  text-align: center;
  margin-left: 15px;
  max-width: 200px;
}

.infoWindow img {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

#starRating {
  height: 80px;
  margin: 0;
}

.infoWindow p {
  font-size: 1.3em;
  font-weight: 400;
  text-align: left;
  margin-left: 12px;
  margin-bottom: 10px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

#closeButton {
  margin-left: 25px;
  background: -webkit-linear-gradient( #c59d59, #1f1e1e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*
====================================
ADD LOCATION MODAL
=====================================
*/
.ReactModal__Content {
  -webkit-box-shadow: 10px 7px 24px -1px rgba(0,0,0,0.57);
  -moz-box-shadow: 10px 7px 24px -1px rgba(0,0,0,0.57);
  box-shadow: 10px 7px 24px -1px rgba(0,0,0,0.57);
}

.addNewLocation {
  line-height: 2em;
}

.addNewLocation input, .addNewLocation .right {
  float: right;
  border-bottom: 1px #c59d59;
}

.addNewLocation h2 {
  margin-bottom: 10px;
}

.addNewLocation .button {
  background: -webkit-linear-gradient( #c59d59, #1f1e1e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 10px;
  float: right;
}

/*
=========================================
LOCATION & EDIT LOCATION
=========================================
*/

.locationText, .aboutText, .contactText, .editLocation {
  width: 95%;
  margin: 0 auto;
}

.locationText h1 {
  margin-bottom: 0;
  padding-bottom: 0;
}

.location a, .location a:visited {
  background: -webkit-linear-gradient(#eee, #c59d59);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0;
  font-size: 0.8rem;
  border-bottom: 1px solid #edd2ab;
}

.dv-star-rating-star {
  font-size: 2.5em;
}

.rating-button {
    background: -webkit-linear-gradient(#eee, #c59d59);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: none;
    padding: 0;
    border-bottom: 1px solid #edd2ab;
    font-size: 0.7rem;
}

.dv-star-rating {
  margin-top: 10px;
}

.update-star-rating {
  font-size: 0.7em;
}

/*
====================================
COMMENTS SECTION
=====================================
*/

.comment {
  margin-top: 20px;
}

.comment-content {
  letter-spacing: 1px;
  line-height: 1.5em;
  margin-bottom: 10px;
  margin-top: 0;
  font-size: 14px;
}

.comment-button {
  background: -webkit-linear-gradient(#eee, #c59d59);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: none;
  padding: 0;
  margin: 5px;
  border-bottom: 1px solid #edd2ab;
  font-size: 0.8rem;
}

.comment-user {
  background: -webkit-linear-gradient(#eee, #c59d59);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 0.8rem;
  padding: 0;
  margin: 0;
}

/*
====================================
LOGIN
=====================================
*/

.login {
  margin: 0 auto;
  text-align: center;
}

.login button {
  display: block;
  width: 250px !important;
  height: 60px;
  font-family: 'Lato', sans-serif !important;
}

.kep-login-facebook {
  width: 100px;
  margin: 0 auto;
  margin-bottom: 20px;
  font-family: 'Lato', sans-serif;
}


/*
=============================================
MEDIA QUERIES
=============================================
*/

@media (min-width: 992px) {
  .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
  }
  
  .col-1 {
    width: 8.33%;
  }
  
  .col-2 {
    width: 16.66%;
  }
  
  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }
  
  .col-5 {
    width: 41.66%;
  }
  
  .col-6 {
    width: 50%;
  }
  
  .col-7 {
    width: 58.33%;
  }
  
  .col-8 {
    width: 66.66%;
  }
  
  .col-9 {
    width: 75%;
  }
  
  .col-10 {
    width: 83.33%;
  }
  
  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }

  .login {
    width: 600px;
  }

  .aboutText, .contactText {
    width: 960px;
    margin: 0 auto;
  }

  .location {
    height: calc(100vh - 61px);
    width: 98%;
    margin: 0 auto;
  }

  .locationRight {
    overflow: auto;
    height: 97%;
  }

  .infoWindow {
    text-align: center;
    margin-left: 15px;
    max-width: 320px;
  }

  .infoWindow p {
    font-size: 1.3em;
    font-weight: 400;
    text-align: left;
    margin-left: 12px;
    margin-bottom: 10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
  }

  footer {
    display: block;
    width: 100%;
    position: absolute;
    height: 20px;
    overflow: hidden;
    text-align: center;
    font-size: 0.8rem;
    padding-top: 5px;
    padding-bottom: 7px;
    background-color: #1f1e1e;
    clear: both;
  }

  /*
  =================================================
  SCROLLBAR
  =================================================
  */
  .locationRight::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
	border-radius: 10px;
}

.locationRight::-webkit-scrollbar
{
	width: 10px;
	background-color: #edd2ab;
}

.locationRight::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #FFF;
	background-image: -webkit-gradient(linear,
									   40% 0%,
									   75% 84%,
									   from(#c59d59),
									   to(#f1c986),
									   color-stop(.6,#f49c06))
}

.search {
  margin-right: 260px;
}

.dropbtn {
  display: none;
}

.dropdown:hover .dropdown-content {
  display: flex;
}

.dropdown-content {
  display: flex;
  position: absolute;
  top: 0;
  background-color: #1f1e1e;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  color: #c59d59;
  padding: 12px 16px;
  text-decoration: none;
  display: inline;
  border-bottom: none;
}

.dropdown-content a:hover {
  background-color: #7e7e7e;
}

}

@media (min-width: 768px) and (max-width: 991px) {
  .col-1, .col-2, .col-3, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    float: left;
        display: block;
    }

  .infoWindow {
    text-align: center;
    margin-left: 15px;
    max-width: 320px;
  }

  .infoWindow p {
    font-size: 1.3em;
    font-weight: 400;
    text-align: left;
    margin-left: 12px;
    margin-bottom: 10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
  }

  .search {
    margin-right: 260px;
  }

  .dropbtn {
    display: none;
  }

  .dropdown:hover .dropdown-content {
    display: flex;
  }

  .dropdown-content {
    display: flex;
    position: absolute;
    top: 0;
    background-color: #1f1e1e;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }

  .dropdown-content a {
    color: #c59d59;
    padding: 12px 16px;
    text-decoration: none;
    display: inline;
    border-bottom: none;
  }

  .dropdown-content a:hover {
    background-color: #7e7e7e;
  }

}

@media (min-width: 480px) and (max-width: 767px) {
  .col-1, .col-2, .col-3, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    float: left;
        display: block;
    }

    .infoWindow {
      text-align: center;
      margin-left: 15px;
      max-width: 320px;
    }

    .infoWindow p {
      font-size: 1.3em;
      font-weight: 400;
      text-align: left;
      margin-left: 12px;
      margin-bottom: 10px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 10;
      -webkit-box-orient: vertical;
    }
  
}